<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>etgrk4w2w9uegz8ce5cw2gtdbhuwp5ca</string>
	<key>expireIn</key>
	<real>9557985204.217159</real>
	<key>userId</key>
	<integer>37213152297382</integer>
	<key>recordId</key>
	<string>5cb5503b5c29454dbe6b18f7</string>
	<key>atomic_recordId</key>
	<string>5cb54fea5c29454dbe6b1883</string>
	<key>delete_recordId</key>
	<string>5cb56b8c66e480067158bd5c</string>
	<key>content_groupId</key>
	<integer>1555386567250268</integer>
	<key>contentId</key>
	<integer>1555386630438634</integer>
	<key>content_categoryId</key>
	<integer>1555386580389219</integer>
	<key>fileId</key>
	<string>5cb54ed95c29453e126b1c52</string>
	<key>file_categoryId</key>
	<string>5cb5517266e4800f680a0a28</string>
	<key>file_deleteId</key>
	<string>5cb570f366e4801be00a10a2</string>
	<key>file_deleteIds</key>
	<array>
		<string>5cbfc5d13cd17863798bc3c3</string>
		<string>5cb6c61c75ebe44f14e3e78f</string>
	</array>
	<key>phone</key>
	<string>15088057274</string>
	<key>code</key>
	<string>1111</string>
</dict>
</plist>
